

<div class="login_div">
    <input name="name" placeholder="请输入账号"class="form-control">
    <input name="password" type="password" placeholder="请输入密码" class="form-control">
    <button id="user-login"  class="btn btn-info form-control" >登&nbsp;陆</button>
</div>